.inicial {
  background: #0905ee;
  color: #ffffff;
  font: 20px Verdana;
  border-radius: 20px;
}

.si_uid {
  background: #10ec1b;
  color: #ffffff;
  font: 20px Verdana;
  border-radius: 20px;
}

.no_uid {
  background: #c71a03;
  color: #ffffff;
  font: 20px Verdana;
  border-radius: 20px;
}
